/*div {
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox 
    -webkit-box-sizing: border-box; /* Safari, Chrome 
}*/

#dvMap {
    height: 500px;
    width: 100%;
}

/*#dvVideoWrapper {
    float: left;
    margin-bottom: 10px;
    width: 698px;
}
#dvVideoNavWrapper {
    float: left;
    margin-left: 0px;
    position: float;
    width: 150px;
}
    #dvVideoNavWrapper ul {
        list-style-type: none;
        margin-bottom: 0px;
        margin-top: 0px;
        padding-left: 0px;
    }
        #dvVideoNavWrapper ul li {
            border: 1px solid black;
            margin-bottom: 3px;
            padding-bottom: 3px;
            padding-left: 3px;
            padding-top: 3px;
        }
            #dvVideoNavWrapper ul li p {
                margin-bottom: 0px;
            }
                #dvVideoNavWrapper ul li p a {
                    color: black;
                }
                #dvVideoNavWrapper ul li p a:visited {
                    color: black;
                }
.vidActive {
    background-color: #EEEEEE;
}
#dvVideoContainer {
    float: left;
    margin-left: 15px;
    position: float;
}

.hidden {
    display: none;
}

.text-centered {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.install-block {
    margin-bottom: 20px;
}
    .install-block .header {
        font-size: 105%;
        font-weight: bold;
    }
        .install-block .header a {
            color: black;
            text-decoration: none;
        }
        .install-block .header a:visited {
            color: black;
        }
        .install-block .header a:hover {
            text-decoration: underline;
        }
    .install-block .image {
        display: inline-block;
        height: 77px;
        width: 116px;
        vertical-align: middle;
    }
        .install-block .image img {
            max-height: 77px;
            max-width: 116px;
        }
    .install-block .text {
        display: inline-block;
        margin-left: 10px;
        width: 600px;
        vertical-align: middle;
    }

.sitenav-item {
    border: 2px solid;
    border-radius: 10px;
    /color: #0000BD;/
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    text-align: center;
    width: 105px;
    vertical-align: top;
    
    -moz-border-radius: 10px;
}
    .sitenav-item .type {
        display: none;
    }
.sitenav-item-active {
    background-color: #FFFFFF;
}
    .sitenav-item-active:hover {
        text-decoration: underline;
    }
.sitenav-item-inactive {
    background-color: #F7F6F6;
}
    .sitenav-item-inactive:hover {
        background-color: #E0E0E0;
    }

.site-group {
    display: none;
    margin-top: 10px;
}
    .site-group .detail-row {
        margin-bottom: 5px;
    }
        .site-group .detail-row .label {
            font-weight: bold;
        }
        .site-group .detail-row .type-icon {
            display: inline-block;
            height: 25px;
            width: 25px;
        }
        .site-group .detail-row .pdf {
            background: url(images/pdf.jpg) no-repeat;
        }
        .site-group .detail-row .ppt {
            background: url(images/ppt.jpg) no-repeat;
        }
        .site-group .detail-row .flash {
            background: url(images/flash.jpg) no-repeat;
        }
        .site-group .detail-row .link {
            background: url(http://statics.solar.ypsi.com/images/link_arrow.png) no-repeat;
        }
    .site-group .detail-image {
        display: inline-block;
        font-weight: bold;
        margin-right: 5px;
        text-align: center;
        height: 330px;
        width: 355px;
    }
        .site-group .detail-image img {
            max-height: 325px;
            max-width: 375px;
        }
        .site-group .detail-image .caption {
            font-weight: bold;
        }
    .site-group .files {
        display: inline-block;
        margin-left: 10px;
        width: 350px;
        vertical-align: top;
    }
        .site-group .files .header {
            font-size: 105%;
            font-weight: bold;
        }
        .site-group .files .label {
            color: #0000BD;
        }
            .site-group .files .label a {
                text-decoration: none;
            }
            .site-group .files .label a:visited {
                color: #0000BD;
            }
            .site-group .files .label a:hover {
                text-decoration: underline;
            }

.chart {
    height: 400px;
    width: 725px;
}

.chart-title {
    font-size: smaller;
    font-weight: bold;
    text-align: center;
}

.chart-legend {
    border: 2px solid black;
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    width: 500px;
}

.chart-controls {
    display: none;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
    .chart-controls .left {
        display: inline-block;
        text-align: left;
        width: 49.5%;
    }
    .chart-controls .right {
        display: inline-block;
        text-align: right;
        width: 49.5%;
    }

.link-row {
    margin-bottom: 10px;
}

.right-block {
    margin-bottom: 20px;
}
    .right-block .label {
        font-size: 110%;
        font-weight: bold;
        text-align: center;
    }
    .right-block .pie {
        margin-top: 5px;
    }

.attribute {
    margin-right: 5px;
}*/

html,
body {
    background: #FFFFFF;
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
    background-color: #f5f5f5;
    height: 60px;
    text-align: center;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

code {
    font-size: 80%;
}